body{
    background: url('https://www.adventistemagazine.com/wp-content/uploads/2016/01/Silver-Blur-Background-Wallpaper.jpg') no-repeat center;
    width: auto;
    height: auto;
    /* overflow: hidden; */
    background-size: cover;
    background-attachment: fixed;
}
#container{
    width:50%;
    margin:0 auto;
    margin-top:10%;
  
}
.label{
    color: #537baf;
    font-weight: 800;
}
h1
{
  font-size: 48px;
  text-shadow: -1px -1px #537baf, 1px 1px grey, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: white;
  font-weight:lighter;
  -moz-box-shadow:none;  
  -webkit-box-shadow: none;  
  box-shadow:none;  
  text-align:center;
  display:block;
  margin-top: 100px;
  margin-bottom: -125px;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #537baf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #537baf;
    border: 1px solid #537baf;
}